// /etc/polkit-1/rules.d/50-microesp.rules
// Allows the "microesp" service user to ONLY power off and reboot the
// machine through logind (also with other sessions open).
// It does not grant ignoring inhibitors, suspend, hibernate or anything else.
polkit.addRule(function(action, subject) {
    if (subject.user !== "microesp") {
        return polkit.Result.NOT_HANDLED;
    }
    switch (action.id) {
    case "org.freedesktop.login1.power-off":
    case "org.freedesktop.login1.power-off-multiple-sessions":
    case "org.freedesktop.login1.reboot":
    case "org.freedesktop.login1.reboot-multiple-sessions":
        return polkit.Result.YES;
    }
    return polkit.Result.NOT_HANDLED;
});
